<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">


 <servlet>
      <servlet-name>CreateCodeServlet</servlet-name>
      <servlet-class>com.qiyan.servlet.CreateCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>CreateCodeServlet</servlet-name>
      <url-pattern>/createCode</url-pattern>
  </servlet-mapping>
  
   <servlet>
      <servlet-name>VerifyCodeServlet</servlet-name>
      <servlet-class>com.qiyan.servlet.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>VerifyCodeServlet</servlet-name>
      <url-pattern>/verifyCode</url-pattern>
  </servlet-mapping>
</web-app>